# Codes for the creating database

Import all modules

In [1]:
pip install -U googlemaps

Requirement already satisfied: googlemaps in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (from googlemaps) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/kannuoya/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import json
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup # library for web scrapping 
import googlemaps #api

# 1. Get All Boroughs' Coordinates (include City of London) - Web Scrapper
Website address: https://en.wikipedia.org/wiki/List_of_London_boroughs

In [3]:
# get coordinates of every Boroughs in London (32 of them) and City of London --> total 33
# getting data from internet, URL of the Wikipedia page containing the list of London boroughs
wiki_url = 'https://en.wikipedia.org/wiki/List_of_London_boroughs'
raw_wiki_page= requests.get(wiki_url, timeout = 2).text

soup = BeautifulSoup(raw_wiki_page, 'html.parser')

# Find the table containing the list of boroughs
table = soup.find_all('table', {'class': 'wikitable sortable'})[0]

# Create a DataFrame from the table
full_boroughs_table = pd.read_html(str(table), index_col=None, header=0)[0]
full_boroughs_table

,Borough,Inner,Status,Local authority,Political control,Headquarters,Area (sq mi),Population(2019 est),Co-ordinates,Nr. inmap
0,Barking and Dagenham[note 1],NaN,NaN,Barking and Dagenham London Borough Council,Labour,"Town Hall, 1 Town Square",13.93,212906,".mw-parser-output .geo-default,.mw-parser-outp...",25
1,Barnet,NaN,NaN,Barnet London Borough Council,Labour,"Barnet House, 2 Bristol Avenue, Colindale",33.49,395896,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,31
2,Bexley,NaN,NaN,Bexley London Borough Council,Conservative,"Civic Offices, 2 Watling Street",23.38,248287,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,23
3,Brent,NaN,NaN,Brent London Borough Council,Labour,"Brent Civic Centre, Engineers Way",16.70,329771,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,12
4,Bromley,NaN,NaN,Bromley London Borough Council,Conservative,"Civic Centre, Stockwell Close",57.97,332336,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,20
5,Camden,NaN,NaN,Camden London Borough Council,Labour,5 Pancras Square,8.40,270029,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W,11
6,Croydon,NaN,NaN,Croydon London Borough Council,Conservative (council NOC),"Bernard Weatherill House, Mint Walk",33.41,386710,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W,19
7,Ealing,NaN,NaN,Ealing London Borough Council,Labour,"Perceval House, 14-16 Uxbridge Road",21.44,341806,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W,13
8,Enfield,NaN,NaN,Enfield London Borough Council,Labour,"Civic Centre, Silver Street",31.74,333794,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W,30
9,Greenwich[note 2],[note 3],Royal,Greenwich London Borough Council,Labour,"Woolwich Town Hall, Wellington Street",18.28,287942,51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E,22
10,Hackney,NaN,NaN,Hackney London Borough Council,Labour,"Hackney Town Hall, Mare Street",7.36,281120,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W,9
11,Hammersmith and Fulham[note 4],NaN,NaN,Hammersmith and Fulham London Borough Council,Labour,"Town Hall, King Street",6.33,185143,51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W,4
12,Haringey,[note 3],NaN,Haringey London Borough Council,Labour,"Civic Centre, High Road",11.42,268647,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W,29
13,Harrow,NaN,NaN,Harrow London Borough Council,Labour,"Civic Centre, Station Road",19.49,251160,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W,32
14,Havering,NaN,NaN,Havering London Borough Council,Conservative (council NOC),"Town Hall, Main Road",43.35,259552,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E,24
15,Hillingdon,NaN,NaN,Hillingdon London Borough Council,Conservative,"Civic Centre, High Street",44.67,306870,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W,33
16,Hounslow,NaN,NaN,Hounslow London Borough Council,Labour,"Hounslow House, 7 Bath Road",21.61,271523,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W,14
17,Islington,NaN,NaN,Islington London Borough Council,Labour,"Customer Centre, 222 Upper Street",5.74,242467,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W,10
18,Kensington and Chelsea,NaN,Royal,Kensington and Chelsea London Borough Council,Conservative,"The Town Hall, Hornton Street",4.68,156129,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W,3
19,Kingston upon Thames,NaN,Royal,Kingston upon Thames London Borough Council,Liberal Democrat,"Guildhall, High Street",14.38,177507,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W,16
20,Lambeth,NaN,NaN,Lambeth London Borough Council,Labour,"Lambeth Town Hall, Brixton Hill",10.36,326034,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W,6
21,Lewisham,NaN,NaN,Lewisham London Borough Council,Labour,"Town Hall, 1 Catford Road",13.57,305842,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W,21
22,Merton,NaN,NaN,Merton London Borough Council,Labour,"Civic Centre, London Road",14.52,206548,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W,17
23,Newham,[note 3],NaN,Newham London Borough Council,Labour,"Newham Dockside, 1000 Dockside Road",13.98,353134,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E,27
24,Redbridge,NaN,NaN,Redbridge London Borough Council,Labour,"Town Hall, 128-142 High Road",21.78,305222,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E,26
25,Richmond upon Thames,NaN,NaN,Richmond upon Thames London Borough Council,Liberal Democrat,"Civic Centre, 44 York Street",22.17,198019,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W,15
26,Southwark,NaN,NaN,Southwark London Borough Council,Labour,160 Tooley Street,11.14,318830,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W,7
27,Sutton,NaN,NaN,Sutton London Borough Council,Liberal Democrat,"Civic Offices, St Nicholas Way",16.93,206349,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W,18
28,Tower Hamlets,NaN,NaN,Tower Hamlets London Borough Council,Labour,"Town Hall, Whitechapel Road",7.63,324745,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W,8
29,Waltham Forest,NaN,NaN,Waltham Forest London Borough Council,Labour,"Waltham Forest Town Hall, Forest Road",14.99,276983,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W,28
30,Wandsworth,NaN,NaN,Wandsworth London Borough Council,Labour,"The Town Hall, Wandsworth High Street",13.23,329677,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W,5
31,Westminster,NaN,City,Westminster City Council,Labour,"Westminster City Hall, 64 Victoria Street",8.29,261317,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W,2

## Keep only the required columns for Borough names and their Co-ordinates

In [4]:
required_borough_table = full_boroughs_table[['Borough','Co-ordinates']]
required_borough_table

,Borough,Co-ordinates
0,Barking and Dagenham[note 1],".mw-parser-output .geo-default,.mw-parser-outp..."
1,Barnet,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E
5,Camden,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W
6,Croydon,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W
7,Ealing,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W
8,Enfield,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W
9,Greenwich[note 2],51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E
10,Hackney,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W
11,Hammersmith and Fulham[note 4],51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W
12,Haringey,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W
13,Harrow,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W
14,Havering,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E
15,Hillingdon,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W
16,Hounslow,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W
17,Islington,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W
18,Kensington and Chelsea,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W
19,Kingston upon Thames,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W
20,Lambeth,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W
21,Lewisham,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W
22,Merton,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W
23,Newham,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E
24,Redbridge,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E
25,Richmond upon Thames,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W
26,Southwark,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W
27,Sutton,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W
28,Tower Hamlets,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W
29,Waltham Forest,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W
30,Wandsworth,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W
31,Westminster,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W

## Clean the data

In [5]:
# Borough column
required_borough_table.rename(columns={"Borough": "Borough_Name","Co-ordinates": "Co-ordinates"},inplace=True)
required_borough_table

/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/3167314101.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_borough_table.rename(columns={"Borough": "Borough_Name","Co-ordinates": "Co-ordinates"},inplace=True)

,Borough_Name,Co-ordinates
0,Barking and Dagenham[note 1],".mw-parser-output .geo-default,.mw-parser-outp..."
1,Barnet,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E
5,Camden,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W
6,Croydon,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W
7,Ealing,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W
8,Enfield,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W
9,Greenwich[note 2],51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E
10,Hackney,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W
11,Hammersmith and Fulham[note 4],51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W
12,Haringey,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W
13,Harrow,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W
14,Havering,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E
15,Hillingdon,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W
16,Hounslow,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W
17,Islington,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W
18,Kensington and Chelsea,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W
19,Kingston upon Thames,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W
20,Lambeth,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W
21,Lewisham,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W
22,Merton,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W
23,Newham,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E
24,Redbridge,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E
25,Richmond upon Thames,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W
26,Southwark,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W
27,Sutton,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W
28,Tower Hamlets,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W
29,Waltham Forest,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W
30,Wandsworth,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W
31,Westminster,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W

In [6]:
# Iterate over the 'Borough_Name' column and clean each entry
cleaned_boroughs = []
for borough in required_borough_table['Borough_Name']:
    cleaned_name = borough.split('[')[0].strip()
    cleaned_boroughs.append(cleaned_name)

# Updating existing 'Borough_Name' column
required_borough_table['Borough_Name'] = cleaned_boroughs
required_borough_table

/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/1938160388.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_borough_table['Borough_Name'] = cleaned_boroughs

              Borough_Name                                       Co-ordinates
0     Barking and Dagenham  .mw-parser-output .geo-default,.mw-parser-outp...
1                   Barnet        51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2                   Bexley        51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3                    Brent        51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4                  Bromley        51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E
5                   Camden        51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W
6                  Croydon        51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W
7                   Ealing        51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W
8                  Enfield        51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W
9                Greenwich        51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E
10                 Hackney        51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W
11  Hammersmith and Fulham        51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W
12                Haringey        51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W
13                  Harrow        51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W
14                Havering        51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E
15              Hillingdon        51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W
16                Hounslow        51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W
17               Islington        51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W
18  Kensington and Chelsea        51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W
19    Kingston upon Thames        51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W
20                 Lambeth        51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W
21                Lewisham        51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W
22                  Merton        51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W
23                  Newham        51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E
24               Redbridge        51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E
25    Richmond upon Thames        51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W
26               Southwark        51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W
27                  Sutton        51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W
28           Tower Hamlets        51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W
29          Waltham Forest        51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W
30              Wandsworth        51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W
31             Westminster        51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W

In [7]:
# Covert Co-ordinates from degree form to float form
original_string = required_borough_table['Co-ordinates'][0]
pattern = r'\d{2}°\d{2}′\d{2}″N \d{1,2}°\d{2}′\d{2}″E.*?\d{2}\.\d+°N \d{1,3}\.\d+°E'

# Search for the pattern in the original string
match = re.search(pattern, original_string)

# Extract the matched part
result = match.group() if match else 'No match found'

required_borough_table['Co-ordinates'][0] = result
required_borough_table

/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/950254437.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_borough_table['Co-ordinates'][0] = result

              Borough_Name                                 Co-ordinates
0     Barking and Dagenham  51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1                   Barnet  51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2                   Bexley  51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3                    Brent  51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4                  Bromley  51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E
5                   Camden  51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W
6                  Croydon  51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W
7                   Ealing  51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W
8                  Enfield  51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W
9                Greenwich  51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E
10                 Hackney  51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W
11  Hammersmith and Fulham  51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W
12                Haringey  51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W
13                  Harrow  51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W
14                Havering  51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E
15              Hillingdon  51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W
16                Hounslow  51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W
17               Islington  51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W
18  Kensington and Chelsea  51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W
19    Kingston upon Thames  51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W
20                 Lambeth  51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W
21                Lewisham  51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W
22                  Merton  51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W
23                  Newham  51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E
24               Redbridge  51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E
25    Richmond upon Thames  51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W
26               Southwark  51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W
27                  Sutton  51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W
28           Tower Hamlets  51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W
29          Waltham Forest  51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W
30              Wandsworth  51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W
31             Westminster  51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W

## Add data of City of London

In [8]:
new_data = {
    'Borough_Name': 'City of London',
    'Co-ordinates': '51°30′28″N 0°05′43″W / 51.5077°N 0.0953°W'}
required_borough_table_with_col = required_borough_table.append(new_data, ignore_index=True)
required_borough_table_with_col

/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/4069433473.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  required_borough_table_with_col = required_borough_table.append(new_data, ignore_index=True)

              Borough_Name                                 Co-ordinates
0     Barking and Dagenham  51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1                   Barnet  51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2                   Bexley  51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3                    Brent  51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4                  Bromley  51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E
5                   Camden  51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W
6                  Croydon  51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W
7                   Ealing  51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W
8                  Enfield  51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W
9                Greenwich  51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E
10                 Hackney  51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W
11  Hammersmith and Fulham  51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W
12                Haringey  51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W
13                  Harrow  51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W
14                Havering  51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E
15              Hillingdon  51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W
16                Hounslow  51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W
17               Islington  51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W
18  Kensington and Chelsea  51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W
19    Kingston upon Thames  51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W
20                 Lambeth  51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W
21                Lewisham  51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W
22                  Merton  51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W
23                  Newham  51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E
24               Redbridge  51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E
25    Richmond upon Thames  51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W
26               Southwark  51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W
27                  Sutton  51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W
28           Tower Hamlets  51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W
29          Waltham Forest  51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W
30              Wandsworth  51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W
31             Westminster  51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W
32          City of London    51°30′28″N 0°05′43″W / 51.5077°N 0.0953°W

## Converting the Co-ordinates in degree form to float form
We only keep the second Decimal Format and convert to plus minus form (i.e., replacing 'N' and 'E' with positive values and 'S' and 'W' with negative values) as this is what api using

In [9]:
def convert_to_decimal(coord):
    """
    This function is to convert DSM into convert coordinate string to decimal with plus-minus form
    
    coord: string
    return: string in longtitude and latitude format
    """
    match = re.search(r'(\d+\.\d+)°([NS])\s+(\d+\.\d+)°([EW])', coord)
    if match:
        lat, lat_hemi, lon, lon_hemi = match.groups()
        lat = float(lat) * (-1 if lat_hemi == 'S' else 1)
        lon = float(lon) * (-1 if lon_hemi == 'W' else 1)
        return f"{lat}, {lon}"
    return 'No match found'


required_borough_table_with_col['Converted_Coordinates'] = required_borough_table_with_col['Co-ordinates'].apply(lambda x: convert_to_decimal(x))
required_borough_table_with_col

,Borough_Name,Co-ordinates,Converted_Coordinates
0,Barking and Dagenham,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E,"51.5607, 0.1557"
1,Barnet,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,"51.6252, -0.1517"
2,Bexley,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,"51.4549, 0.1505"
3,Brent,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,"51.5588, -0.2817"
4,Bromley,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,"51.4039, 0.0198"
5,Camden,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W,"51.529, -0.1255"
6,Croydon,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W,"51.3714, -0.0977"
7,Ealing,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W,"51.513, -0.3089"
8,Enfield,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W,"51.6538, -0.0799"
9,Greenwich,51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E,"51.4892, 0.0648"
10,Hackney,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W,"51.545, -0.0553"
11,Hammersmith and Fulham,51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W,"51.4927, -0.2339"
12,Haringey,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W,"51.6, -0.1119"
13,Harrow,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W,"51.5898, -0.3346"
14,Havering,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E,"51.5812, 0.1837"
15,Hillingdon,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W,"51.5441, -0.476"
16,Hounslow,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W,"51.4746, -0.368"
17,Islington,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W,"51.5416, -0.1022"
18,Kensington and Chelsea,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W,"51.502, -0.1947"
19,Kingston upon Thames,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W,"51.4085, -0.3064"
20,Lambeth,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W,"51.4607, -0.1163"
21,Lewisham,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W,"51.4452, -0.0209"
22,Merton,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W,"51.4014, -0.1958"
23,Newham,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E,"51.5077, 0.0469"
24,Redbridge,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E,"51.559, 0.0741"
25,Richmond upon Thames,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W,"51.4479, -0.326"
26,Southwark,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W,"51.5035, -0.0804"
27,Sutton,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W,"51.3618, -0.1945"
28,Tower Hamlets,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W,"51.5099, -0.0059"
29,Waltham Forest,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W,"51.5908, -0.0134"
30,Wandsworth,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W,"51.4567, -0.191"
31,Westminster,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W,"51.4973, -0.1372"
32,City of London,51°30′28″N 0°05′43″W / 51.5077°N 0.0953°W,"51.5077, -0.0953"

In [10]:
required_borough_table_with_col = required_borough_table_with_col.drop('Co-ordinates', axis=1)
required_borough_table_with_col

              Borough_Name Converted_Coordinates
0     Barking and Dagenham       51.5607, 0.1557
1                   Barnet      51.6252, -0.1517
2                   Bexley       51.4549, 0.1505
3                    Brent      51.5588, -0.2817
4                  Bromley       51.4039, 0.0198
5                   Camden       51.529, -0.1255
6                  Croydon      51.3714, -0.0977
7                   Ealing       51.513, -0.3089
8                  Enfield      51.6538, -0.0799
9                Greenwich       51.4892, 0.0648
10                 Hackney       51.545, -0.0553
11  Hammersmith and Fulham      51.4927, -0.2339
12                Haringey         51.6, -0.1119
13                  Harrow      51.5898, -0.3346
14                Havering       51.5812, 0.1837
15              Hillingdon       51.5441, -0.476
16                Hounslow       51.4746, -0.368
17               Islington      51.5416, -0.1022
18  Kensington and Chelsea       51.502, -0.1947
19    Kingston upon Thames      51.4085, -0.3064
20                 Lambeth      51.4607, -0.1163
21                Lewisham      51.4452, -0.0209
22                  Merton      51.4014, -0.1958
23                  Newham       51.5077, 0.0469
24               Redbridge        51.559, 0.0741
25    Richmond upon Thames       51.4479, -0.326
26               Southwark      51.5035, -0.0804
27                  Sutton      51.3618, -0.1945
28           Tower Hamlets      51.5099, -0.0059
29          Waltham Forest      51.5908, -0.0134
30              Wandsworth       51.4567, -0.191
31             Westminster      51.4973, -0.1372
32          City of London      51.5077, -0.0953

In [11]:
borough_populaiton = pd.read_csv('2022_Borough_Population/Borough_Population_Table.csv')
borough_populaiton = borough_populaiton[['Unnamed: 1','Unnamed: 2']].rename(columns={'Unnamed: 1':'Borough_Name','Unnamed: 2':'Borough_Population'})
borough_populaiton = borough_populaiton.dropna(subset=['Borough_Population'])
borough_populaiton

              Borough_Name Borough_Population
4                  Croydon            392,224
5                   Barnet            389,101
6                   Ealing            369,937
7                   Newham            358,645
8                    Brent            341,221
9                  Bromley            329,578
10              Wandsworth            329,035
11                 Enfield            327,224
12           Tower Hamlets            325,789
13                 Lambeth            316,812
14               Southwark            311,913
15               Redbridge            310,911
16              Hillingdon            310,681
17                Lewisham            298,653
18               Greenwich            291,080
19                Hounslow            290,488
20          Waltham Forest            275,887
21                Havering            264,703
22                Haringey            261,811
23                 Hackney            261,491
24                  Harrow            261,185
25                  Bexley            247,835
26               Islington            220,373
27    Barking and Dagenham            219,992
28                  Camden            218,049
29                  Merton            214,709
30             Westminster            211,365
31                  Sutton            210,053
32    Richmond upon Thames            194,894
33  Hammersmith and Fulham            185,238
34    Kingston upon Thames            168,302
35  Kensington and Chelsea            146,154
36          City of London             10,847

In [33]:
borough_df = pd.merge(required_borough_table_with_col, borough_populaiton, on='Borough_Name')
borough_df

              Borough_Name Converted_Coordinates Borough_Population
0     Barking and Dagenham       51.5607, 0.1557            219,992
1                   Barnet      51.6252, -0.1517            389,101
2                   Bexley       51.4549, 0.1505            247,835
3                    Brent      51.5588, -0.2817            341,221
4                  Bromley       51.4039, 0.0198            329,578
5                   Camden       51.529, -0.1255            218,049
6                  Croydon      51.3714, -0.0977            392,224
7                   Ealing       51.513, -0.3089            369,937
8                  Enfield      51.6538, -0.0799            327,224
9                Greenwich       51.4892, 0.0648            291,080
10                 Hackney       51.545, -0.0553            261,491
11  Hammersmith and Fulham      51.4927, -0.2339            185,238
12                Haringey         51.6, -0.1119            261,811
13                  Harrow      51.5898, -0.3346            261,185
14                Havering       51.5812, 0.1837            264,703
15              Hillingdon       51.5441, -0.476            310,681
16                Hounslow       51.4746, -0.368            290,488
17               Islington      51.5416, -0.1022            220,373
18  Kensington and Chelsea       51.502, -0.1947            146,154
19    Kingston upon Thames      51.4085, -0.3064            168,302
20                 Lambeth      51.4607, -0.1163            316,812
21                Lewisham      51.4452, -0.0209            298,653
22                  Merton      51.4014, -0.1958            214,709
23                  Newham       51.5077, 0.0469            358,645
24               Redbridge        51.559, 0.0741            310,911
25    Richmond upon Thames       51.4479, -0.326            194,894
26               Southwark      51.5035, -0.0804            311,913
27                  Sutton      51.3618, -0.1945            210,053
28           Tower Hamlets      51.5099, -0.0059            325,789
29          Waltham Forest      51.5908, -0.0134            275,887
30              Wandsworth       51.4567, -0.191            329,035
31             Westminster      51.4973, -0.1372            211,365
32          City of London      51.5077, -0.0953             10,847

# 2. Google Maps API

Documentation link: https://developers.google.com/maps/documentation/places/web-service 

Read the key:

In [13]:
with open('keys.json') as f:
    keys = json.load(f)
api_key = keys['googleapi']['api_key']

In [24]:
# initialize the Google Maps client
gmaps = googlemaps.Client(key=api_key)


def get_cafe_details(borough_coordinates):
    """
    This function is to fetch location details using coordinates of each borough center
    borough_coordinates: coordinates of the borough center
    Return: dataframe of required data
    """
    
    cafe = []
    
    places = gmaps.places_nearby(
    location=borough_coordinates,
    radius=5000,  # Search radius in meters (adjust as needed)
    type="cafe")
        
    for place in places['results']:
        cafe_data = {
            'Cafe_Name': place['name'],
            'Cafe_Coordinates': place['geometry'],
            'Place_Id': place['place_id'],
            'Cafe_Types': place['types'],
            'Rating': place.get('rating'),
            'Number_Ratings': place.get('user_ratings_total'),
            'Vicinity': place.get('vicinity'),
            'Borough_Coordinates': borough_coordinates
        }
        cafe.append(cafe_data)
    
    return pd.DataFrame(cafe)

## Get cafe's information

In [49]:
cafe_details = []

for coord in required_borough_table_with_col['Converted_Coordinates']:
    other = get_cafe_details(coord)
    cafe_details.append(other)
cafe_details = pd.concat(cafe_details, ignore_index=True)
cafe_details

,Cafe_Name,Cafe_Coordinates,Place_Id,Cafe_Types,Rating,Number_Ratings,Vicinity,Borough_Coordinates
0,Take a Break,"{'location': {'lat': 51.55102600000001, 'lng':...",ChIJP5iSZRul2EcRuLlMBSZy-JY,"[cafe, food, point_of_interest, establishment]",4.0,40.0,"244 Oxlow Lane, Dagenham","51.5607, 0.1557"
1,Asda Dagenham Superstore,"{'location': {'lat': 51.5301912, 'lng': 0.1422...",ChIJdwGW-HOl2EcRkRKhL91oI_s,"[supermarket, gas_station, atm, pharmacy, cafe...",3.6,822.0,"Merrielands Crescent, Dagenham","51.5607, 0.1557"
2,Becontree Heath Leisure Centre,"{'location': {'lat': 51.5609465, 'lng': 0.1488...",ChIJfRvpP_yk2EcRMHJ8P6PE448,"[gym, cafe, school, food, health, point_of_int...",3.6,824.0,"Althorne Way, Dagenham","51.5607, 0.1557"
3,Harrow Lodge Leisure Centre,"{'location': {'lat': 51.5613365, 'lng': 0.2070...",ChIJbz00eCW72EcRv-wkpDkmsGQ,"[cafe, gym, school, general_contractor, food, ...",3.8,391.0,"Hornchurch Road, Hornchurch","51.5607, 0.1557"
4,Eastbrook Cafe & Restuarant,"{'location': {'lat': 51.5508213, 'lng': 0.1614...",ChIJmSZw6z2l2EcRpS8prTdOqic,"[restaurant, meal_delivery, meal_takeaway, caf...",4.3,91.0,"264 Rainham Road South, Dagenham","51.5607, 0.1557"
...,...,...,...,...,...,...,...,...
655,The British Library,"{'location': {'lat': 51.52997169999999, 'lng':...",ChIJlRMXcDsbdkgRJdsP3nlUkBg,"[library, tourist_attraction, cafe, store, res...",4.5,2638.0,"96 Euston Road, London","51.5077, -0.0953"
656,The Table Café,"{'location': {'lat': 51.5054844, 'lng': -0.099...",ChIJbc-9tKgEdkgR2qNGtGhKWLc,"[cafe, restaurant, food, point_of_interest, es...",4.3,1982.0,"83 Southwark Street, London","51.5077, -0.0953"
657,Curzon Soho,"{'location': {'lat': 51.5127004, 'lng': -0.130...",ChIJR_tP9tIEdkgR50LK64QCsck,"[movie_theater, cafe, bar, restaurant, food, p...",4.5,1586.0,"99 Shaftesbury Avenue, London","51.5077, -0.0953"
658,ODEON Surrey Quays,"{'location': {'lat': 51.4959322, 'lng': -0.044...",ChIJGTY0qN8CdkgR5fzIXjzgJsY,"[movie_theater, cafe, store, food, point_of_in...",3.9,2959.0,"Surrey Quays Leisure Park, Redriff Road, London","51.5077, -0.0953"
659,Swan London,"{'location': {'lat': 51.5082418, 'lng': -0.096...",ChIJ70dbCqkEdkgR_2rXCHnP0aQ,"[restaurant, cafe, bar, food, point_of_interes...",4.3,3040.0,"21 New Globe Walk, Bankside, London","51.5077, -0.0953"

## Data Cleaning

Clean the 'Cafe_Coordinates' into "latitude, longtitude" form

In [50]:
def clean_coordinates(geometry):
    """
    This function is to clean the data of the 'Cafe_Coordinates' column to only keep the degree form and in the format of lat, long
    geometry: dict all detail locations in different form
    Return: str in the format of lat, long
    """
    # Extract latitude and longitude from the 'location' key
    lat = geometry['location']['lat']
    lng = geometry['location']['lng']
    return f"{lat}, {lng}"
cafe_details['Cafe_Coordinates'] = cafe_details['Cafe_Coordinates'].apply(clean_coordinates)
cafe_details

,Cafe_Name,Cafe_Coordinates,Place_Id,Cafe_Types,Rating,Number_Ratings,Vicinity,Borough_Coordinates
0,Take a Break,"51.55102600000001, 0.1547964",ChIJP5iSZRul2EcRuLlMBSZy-JY,"[cafe, food, point_of_interest, establishment]",4.0,40.0,"244 Oxlow Lane, Dagenham","51.5607, 0.1557"
1,Asda Dagenham Superstore,"51.5301912, 0.1422174",ChIJdwGW-HOl2EcRkRKhL91oI_s,"[supermarket, gas_station, atm, pharmacy, cafe...",3.6,822.0,"Merrielands Crescent, Dagenham","51.5607, 0.1557"
2,Becontree Heath Leisure Centre,"51.5609465, 0.1488995",ChIJfRvpP_yk2EcRMHJ8P6PE448,"[gym, cafe, school, food, health, point_of_int...",3.6,824.0,"Althorne Way, Dagenham","51.5607, 0.1557"
3,Harrow Lodge Leisure Centre,"51.5613365, 0.207073",ChIJbz00eCW72EcRv-wkpDkmsGQ,"[cafe, gym, school, general_contractor, food, ...",3.8,391.0,"Hornchurch Road, Hornchurch","51.5607, 0.1557"
4,Eastbrook Cafe & Restuarant,"51.5508213, 0.1614183",ChIJmSZw6z2l2EcRpS8prTdOqic,"[restaurant, meal_delivery, meal_takeaway, caf...",4.3,91.0,"264 Rainham Road South, Dagenham","51.5607, 0.1557"
...,...,...,...,...,...,...,...,...
655,The British Library,"51.52997169999999, -0.1276759",ChIJlRMXcDsbdkgRJdsP3nlUkBg,"[library, tourist_attraction, cafe, store, res...",4.5,2638.0,"96 Euston Road, London","51.5077, -0.0953"
656,The Table Café,"51.5054844, -0.0998167",ChIJbc-9tKgEdkgR2qNGtGhKWLc,"[cafe, restaurant, food, point_of_interest, es...",4.3,1982.0,"83 Southwark Street, London","51.5077, -0.0953"
657,Curzon Soho,"51.5127004, -0.1305849",ChIJR_tP9tIEdkgR50LK64QCsck,"[movie_theater, cafe, bar, restaurant, food, p...",4.5,1586.0,"99 Shaftesbury Avenue, London","51.5077, -0.0953"
658,ODEON Surrey Quays,"51.4959322, -0.0447721",ChIJGTY0qN8CdkgR5fzIXjzgJsY,"[movie_theater, cafe, store, food, point_of_in...",3.9,2959.0,"Surrey Quays Leisure Park, Redriff Road, London","51.5077, -0.0953"
659,Swan London,"51.5082418, -0.09652360000000001",ChIJ70dbCqkEdkgR_2rXCHnP0aQ,"[restaurant, cafe, bar, food, point_of_interes...",4.3,3040.0,"21 New Globe Walk, Bankside, London","51.5077, -0.0953"

There might be duplications of cafes

In [65]:
cafe_details = cafe_details.drop_duplicates(subset='Place_Id', keep='first')
cafe_details

,Cafe_Name,Cafe_Coordinates,Place_Id,Cafe_Types,Rating,Number_Ratings,Vicinity,Borough_Coordinates
0,Take a Break,"51.55102600000001, 0.1547964",ChIJP5iSZRul2EcRuLlMBSZy-JY,"[cafe, food, point_of_interest, establishment]",4.0,40,"244 Oxlow Lane, Dagenham","51.5607, 0.1557"
1,Asda Dagenham Superstore,"51.5301912, 0.1422174",ChIJdwGW-HOl2EcRkRKhL91oI_s,"[supermarket, gas_station, atm, pharmacy, cafe...",3.6,822,"Merrielands Crescent, Dagenham","51.5607, 0.1557"
2,Becontree Heath Leisure Centre,"51.5609465, 0.1488995",ChIJfRvpP_yk2EcRMHJ8P6PE448,"[gym, cafe, school, food, health, point_of_int...",3.6,824,"Althorne Way, Dagenham","51.5607, 0.1557"
3,Harrow Lodge Leisure Centre,"51.5613365, 0.207073",ChIJbz00eCW72EcRv-wkpDkmsGQ,"[cafe, gym, school, general_contractor, food, ...",3.8,391,"Hornchurch Road, Hornchurch","51.5607, 0.1557"
4,Eastbrook Cafe & Restuarant,"51.5508213, 0.1614183",ChIJmSZw6z2l2EcRpS8prTdOqic,"[restaurant, meal_delivery, meal_takeaway, caf...",4.3,91,"264 Rainham Road South, Dagenham","51.5607, 0.1557"
...,...,...,...,...,...,...,...,...
610,Jack's at the Junction,"51.4640078, -0.1664803",ChIJ3-4QRpgFdkgR7Ufu_ZL5qMg,"[cafe, store, restaurant, food, point_of_inter...",4.3,937,"252 Lavender Hill, London","51.4567, -0.191"
612,Pottery Cafe,"51.47686, -0.2024469",ChIJk6UKjpwPdkgRCuZJf5s7aos,"[cafe, store, food, point_of_interest, establi...",4.6,179,"735 Fulham Road, London","51.4567, -0.191"
613,GAIL's Bakery Northcote Road,"51.458499, -0.1662769",ChIJeyNpaJYFdkgRzUn4MrNtQyw,"[bakery, meal_delivery, cafe, store, restauran...",3.8,450,"64 Northcote Road, London","51.4567, -0.191"
614,The Kensington Creperie,"51.4947729, -0.173204",ChIJmeHbYUIFdkgRjx3BnN1Qvk8,"[cafe, store, restaurant, food, point_of_inter...",3.7,1669,"2-4 Exhibition Road, London","51.4567, -0.191"
619,GAZETTE BATTERSEA,"51.46581080000001, -0.1822525",ChIJHSvImYYFdkgRp4X4Jsv1rqI,"[cafe, bar, restaurant, food, point_of_interes...",4.3,590,"Unit 79, Sherwood Court, Chatfield Road, London","51.4567, -0.191"

Total Number of Ratings in the column 'Number_Ratings' can only be interger

In [52]:
cafe_details['Number_Ratings'].fillna(0, inplace=True)
cafe_details['Number_Ratings'] = cafe_details['Number_Ratings'].astype(int)
cafe_details

/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/1302858462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe_details['Number_Ratings'].fillna(0, inplace=True)
/var/folders/l6/dfw3zk0s5tbdf21c6512l8k00000gn/T/ipykernel_2811/1302858462.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe_details['Number_Ratings'] = cafe_details['Number_Ratings'].astype(int)

,Cafe_Name,Cafe_Coordinates,Place_Id,Cafe_Types,Rating,Number_Ratings,Vicinity,Borough_Coordinates
0,Take a Break,"51.55102600000001, 0.1547964",ChIJP5iSZRul2EcRuLlMBSZy-JY,"[cafe, food, point_of_interest, establishment]",4.0,40,"244 Oxlow Lane, Dagenham","51.5607, 0.1557"
1,Asda Dagenham Superstore,"51.5301912, 0.1422174",ChIJdwGW-HOl2EcRkRKhL91oI_s,"[supermarket, gas_station, atm, pharmacy, cafe...",3.6,822,"Merrielands Crescent, Dagenham","51.5607, 0.1557"
2,Becontree Heath Leisure Centre,"51.5609465, 0.1488995",ChIJfRvpP_yk2EcRMHJ8P6PE448,"[gym, cafe, school, food, health, point_of_int...",3.6,824,"Althorne Way, Dagenham","51.5607, 0.1557"
3,Harrow Lodge Leisure Centre,"51.5613365, 0.207073",ChIJbz00eCW72EcRv-wkpDkmsGQ,"[cafe, gym, school, general_contractor, food, ...",3.8,391,"Hornchurch Road, Hornchurch","51.5607, 0.1557"
4,Eastbrook Cafe & Restuarant,"51.5508213, 0.1614183",ChIJmSZw6z2l2EcRpS8prTdOqic,"[restaurant, meal_delivery, meal_takeaway, caf...",4.3,91,"264 Rainham Road South, Dagenham","51.5607, 0.1557"
...,...,...,...,...,...,...,...,...
610,Jack's at the Junction,"51.4640078, -0.1664803",ChIJ3-4QRpgFdkgR7Ufu_ZL5qMg,"[cafe, store, restaurant, food, point_of_inter...",4.3,937,"252 Lavender Hill, London","51.4567, -0.191"
612,Pottery Cafe,"51.47686, -0.2024469",ChIJk6UKjpwPdkgRCuZJf5s7aos,"[cafe, store, food, point_of_interest, establi...",4.6,179,"735 Fulham Road, London","51.4567, -0.191"
613,GAIL's Bakery Northcote Road,"51.458499, -0.1662769",ChIJeyNpaJYFdkgRzUn4MrNtQyw,"[bakery, meal_delivery, cafe, store, restauran...",3.8,450,"64 Northcote Road, London","51.4567, -0.191"
614,The Kensington Creperie,"51.4947729, -0.173204",ChIJmeHbYUIFdkgRjx3BnN1Qvk8,"[cafe, store, restaurant, food, point_of_inter...",3.7,1669,"2-4 Exhibition Road, London","51.4567, -0.191"
619,GAZETTE BATTERSEA,"51.46581080000001, -0.1822525",ChIJHSvImYYFdkgRp4X4Jsv1rqI,"[cafe, bar, restaurant, food, point_of_interes...",4.3,590,"Unit 79, Sherwood Court, Chatfield Road, London","51.4567, -0.191"

## Extract Rating-related data

In [53]:
rating_df = cafe_details[['Place_Id', 'Rating', 'Number_Ratings']]
rating_df

                        Place_Id  Rating  Number_Ratings
0    ChIJP5iSZRul2EcRuLlMBSZy-JY     4.0              40
1    ChIJdwGW-HOl2EcRkRKhL91oI_s     3.6             822
2    ChIJfRvpP_yk2EcRMHJ8P6PE448     3.6             824
3    ChIJbz00eCW72EcRv-wkpDkmsGQ     3.8             391
4    ChIJmSZw6z2l2EcRpS8prTdOqic     4.3              91
..                           ...     ...             ...
610  ChIJ3-4QRpgFdkgR7Ufu_ZL5qMg     4.3             937
612  ChIJk6UKjpwPdkgRCuZJf5s7aos     4.6             179
613  ChIJeyNpaJYFdkgRzUn4MrNtQyw     3.8             450
614  ChIJmeHbYUIFdkgRjx3BnN1Qvk8     3.7            1669
619  ChIJHSvImYYFdkgRp4X4Jsv1rqI     4.3             590

[451 rows x 3 columns]

Final DataFrame for cafe

In [54]:
cafe_details_df = cafe_details[['Cafe_Name', 'Place_Id', 'Cafe_Coordinates', 'Vicinity', 'Cafe_Types', 'Borough_Coordinates']]
cafe_details_df

,Cafe_Name,Place_Id,Cafe_Coordinates,Vicinity,Cafe_Types,Borough_Coordinates
0,Take a Break,ChIJP5iSZRul2EcRuLlMBSZy-JY,"51.55102600000001, 0.1547964","244 Oxlow Lane, Dagenham","[cafe, food, point_of_interest, establishment]","51.5607, 0.1557"
1,Asda Dagenham Superstore,ChIJdwGW-HOl2EcRkRKhL91oI_s,"51.5301912, 0.1422174","Merrielands Crescent, Dagenham","[supermarket, gas_station, atm, pharmacy, cafe...","51.5607, 0.1557"
2,Becontree Heath Leisure Centre,ChIJfRvpP_yk2EcRMHJ8P6PE448,"51.5609465, 0.1488995","Althorne Way, Dagenham","[gym, cafe, school, food, health, point_of_int...","51.5607, 0.1557"
3,Harrow Lodge Leisure Centre,ChIJbz00eCW72EcRv-wkpDkmsGQ,"51.5613365, 0.207073","Hornchurch Road, Hornchurch","[cafe, gym, school, general_contractor, food, ...","51.5607, 0.1557"
4,Eastbrook Cafe & Restuarant,ChIJmSZw6z2l2EcRpS8prTdOqic,"51.5508213, 0.1614183","264 Rainham Road South, Dagenham","[restaurant, meal_delivery, meal_takeaway, caf...","51.5607, 0.1557"
...,...,...,...,...,...,...
610,Jack's at the Junction,ChIJ3-4QRpgFdkgR7Ufu_ZL5qMg,"51.4640078, -0.1664803","252 Lavender Hill, London","[cafe, store, restaurant, food, point_of_inter...","51.4567, -0.191"
612,Pottery Cafe,ChIJk6UKjpwPdkgRCuZJf5s7aos,"51.47686, -0.2024469","735 Fulham Road, London","[cafe, store, food, point_of_interest, establi...","51.4567, -0.191"
613,GAIL's Bakery Northcote Road,ChIJeyNpaJYFdkgRzUn4MrNtQyw,"51.458499, -0.1662769","64 Northcote Road, London","[bakery, meal_delivery, cafe, store, restauran...","51.4567, -0.191"
614,The Kensington Creperie,ChIJmeHbYUIFdkgRjx3BnN1Qvk8,"51.4947729, -0.173204","2-4 Exhibition Road, London","[cafe, store, restaurant, food, point_of_inter...","51.4567, -0.191"
619,GAZETTE BATTERSEA,ChIJHSvImYYFdkgRp4X4Jsv1rqI,"51.46581080000001, -0.1822525","Unit 79, Sherwood Court, Chatfield Road, London","[cafe, bar, restaurant, food, point_of_interes...","51.4567, -0.191"

## Extract latitude and longtitude for Kinetica

In [55]:
# Create a new DataFrame with separate 'lat' and 'lng' columns from 'Cafe_Coordinates'
# Create a copy of the original dataframe
cafe_details_kinetica = cafe_details.copy()  

# Split the 'Cafe_Coordinates' column into 'lat' and 'lng'
cafe_details_kinetica[['lat', 'lng']] = cafe_details_kinetica['Cafe_Coordinates'].str.split(',', expand=True)

# Convert the 'lat' and 'lng' columns to numeric (float) data type
cafe_details_kinetica['lat'] = pd.to_numeric(cafe_details_kinetica['lat'])
cafe_details_kinetica['lng'] = pd.to_numeric(cafe_details_kinetica['lng'])

# Display the new DataFrame with 'lat' and 'lng' columns
cafe_details_kinetica

,Cafe_Name,Cafe_Coordinates,Place_Id,Cafe_Types,Rating,Number_Ratings,Vicinity,Borough_Coordinates,lat,lng
0,Take a Break,"51.55102600000001, 0.1547964",ChIJP5iSZRul2EcRuLlMBSZy-JY,"[cafe, food, point_of_interest, establishment]",4.0,40,"244 Oxlow Lane, Dagenham","51.5607, 0.1557",51.551026,0.154796
1,Asda Dagenham Superstore,"51.5301912, 0.1422174",ChIJdwGW-HOl2EcRkRKhL91oI_s,"[supermarket, gas_station, atm, pharmacy, cafe...",3.6,822,"Merrielands Crescent, Dagenham","51.5607, 0.1557",51.530191,0.142217
2,Becontree Heath Leisure Centre,"51.5609465, 0.1488995",ChIJfRvpP_yk2EcRMHJ8P6PE448,"[gym, cafe, school, food, health, point_of_int...",3.6,824,"Althorne Way, Dagenham","51.5607, 0.1557",51.560947,0.148899
3,Harrow Lodge Leisure Centre,"51.5613365, 0.207073",ChIJbz00eCW72EcRv-wkpDkmsGQ,"[cafe, gym, school, general_contractor, food, ...",3.8,391,"Hornchurch Road, Hornchurch","51.5607, 0.1557",51.561337,0.207073
4,Eastbrook Cafe & Restuarant,"51.5508213, 0.1614183",ChIJmSZw6z2l2EcRpS8prTdOqic,"[restaurant, meal_delivery, meal_takeaway, caf...",4.3,91,"264 Rainham Road South, Dagenham","51.5607, 0.1557",51.550821,0.161418
...,...,...,...,...,...,...,...,...,...,...
610,Jack's at the Junction,"51.4640078, -0.1664803",ChIJ3-4QRpgFdkgR7Ufu_ZL5qMg,"[cafe, store, restaurant, food, point_of_inter...",4.3,937,"252 Lavender Hill, London","51.4567, -0.191",51.464008,-0.166480
612,Pottery Cafe,"51.47686, -0.2024469",ChIJk6UKjpwPdkgRCuZJf5s7aos,"[cafe, store, food, point_of_interest, establi...",4.6,179,"735 Fulham Road, London","51.4567, -0.191",51.476860,-0.202447
613,GAIL's Bakery Northcote Road,"51.458499, -0.1662769",ChIJeyNpaJYFdkgRzUn4MrNtQyw,"[bakery, meal_delivery, cafe, store, restauran...",3.8,450,"64 Northcote Road, London","51.4567, -0.191",51.458499,-0.166277
614,The Kensington Creperie,"51.4947729, -0.173204",ChIJmeHbYUIFdkgRjx3BnN1Qvk8,"[cafe, store, restaurant, food, point_of_inter...",3.7,1669,"2-4 Exhibition Road, London","51.4567, -0.191",51.494773,-0.173204
619,GAZETTE BATTERSEA,"51.46581080000001, -0.1822525",ChIJHSvImYYFdkgRp4X4Jsv1rqI,"[cafe, bar, restaurant, food, point_of_interes...",4.3,590,"Unit 79, Sherwood Court, Chatfield Road, London","51.4567, -0.191",51.465811,-0.182253

## Get Review details

The API ONLY GIVES TOP 5 reviews ranked by relevance, that are most informative and helpful for users looking for insights

Create Review DataFrame

In [63]:
# Initialize an empty list to collect review data
review_data = []

# Iterate through the cafe_details dataframe
for index, row in cafe_details_df.iterrows():
    place_id = row['Place_Id']
    cafe_name = row['Cafe_Name']
    prefix = place_id

    place_details_url = f"https://maps.googleapis.com/maps/api/place/details/json?place_id={place_id}&fields=reviews&key={api_key}"

    response = requests.get(place_details_url)
    details = response.json()

    reviews = details['result'].get('reviews', [])
    review_counter = 1

    # Process each review and append the data to the review_data list
    for review in reviews:
        review_id = f"{prefix}{review_counter}"
        author_name = review.get('author_name')
        review_text = review.get('text')
        relative_time_description = review.get('relative_time_description')
        
        review_data.append({
            'Place_Id': place_id,
            'Review_Id': review_id,
            'Author_Name': author_name,
            'Review_Text': review_text,
            'Relative_Time_Description': relative_time_description
        })
        
        review_counter += 1

# Create a DataFrame from the review_data list
review_df = pd.DataFrame(review_data)

# Display the resulting DataFrame
review_df

,Place_Id,Review_Id,Author_Name,Review_Text,Relative_Time_Description
0,ChIJP5iSZRul2EcRuLlMBSZy-JY,ChIJP5iSZRul2EcRuLlMBSZy-JY1,Terence j Cleary,"First time here, amazing food spotlessly clean...",a month ago
1,ChIJP5iSZRul2EcRuLlMBSZy-JY,ChIJP5iSZRul2EcRuLlMBSZy-JY2,George Reeves,Not even a cafe. Thery sell shop brought bread...,a year ago
2,ChIJP5iSZRul2EcRuLlMBSZy-JY,ChIJP5iSZRul2EcRuLlMBSZy-JY3,Jack J,I used to eat here often but it has slowly dec...,a year ago
3,ChIJP5iSZRul2EcRuLlMBSZy-JY,ChIJP5iSZRul2EcRuLlMBSZy-JY4,Samina Barker,"Lovely friendly staff, clean cafe and quick se...",a year ago
4,ChIJP5iSZRul2EcRuLlMBSZy-JY,ChIJP5iSZRul2EcRuLlMBSZy-JY5,Jaime Wiles,Nice coffee.\nFriendly staff.\n\nDidn't eat an...,2 years ago
...,...,...,...,...,...
2208,ChIJHSvImYYFdkgRp4X4Jsv1rqI,ChIJHSvImYYFdkgRp4X4Jsv1rqI1,Christina Tross,"Great food, atmosphere, background music and t...",6 months ago
2209,ChIJHSvImYYFdkgRp4X4Jsv1rqI,ChIJHSvImYYFdkgRp4X4Jsv1rqI2,Jason Pinto,An enjoyable lunch at this French bistro with ...,2 months ago
2210,ChIJHSvImYYFdkgRp4X4Jsv1rqI,ChIJHSvImYYFdkgRp4X4Jsv1rqI3,Maud Hu,Booked this French place for a work Christmas ...,a year ago
2211,ChIJHSvImYYFdkgRp4X4Jsv1rqI,ChIJHSvImYYFdkgRp4X4Jsv1rqI4,Cam,The atmosphere for this place is very very wel...,6 months ago
2212,ChIJHSvImYYFdkgRp4X4Jsv1rqI,ChIJHSvImYYFdkgRp4X4Jsv1rqI5,Felix Gan,Truly and exotic French restaurant in south we...,a year ago

# Converting every required DataFrame to .csv

In [57]:
cafe_details_df.to_csv('csv/cafe_entity.csv', index=False)

In [58]:
borough_df.to_csv('csv/borough_entity.csv', index=False)

In [64]:
review_df.to_csv('csv/review_entity.csv', index=False)

In [60]:
rating_df.to_csv('csv/rating_entity.csv', index=False)

In [61]:
cafe_details_kinetica.to_csv('csv/cafe_kinetica.csv', index=False)