# Data using borough.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('borough.csv')
df

,Borough,Co-ordinates,Converted_Coordinates,lat,lng
0,Barking and Dagenham,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E,"51.5607, 0.1557",51.5607,0.1557
1,Barnet,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,"51.6252, -0.1517",51.6252,-0.1517
2,Bexley,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,"51.4549, 0.1505",51.4549,0.1505
3,Brent,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,"51.5588, -0.2817",51.5588,-0.2817
4,Bromley,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,"51.4039, 0.0198",51.4039,0.0198
5,Camden,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W,"51.529, -0.1255",51.5290,-0.1255
6,Croydon,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W,"51.3714, -0.0977",51.3714,-0.0977
7,Ealing,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W,"51.513, -0.3089",51.5130,-0.3089
8,Enfield,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W,"51.6538, -0.0799",51.6538,-0.0799
9,Greenwich,51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E,"51.4892, 0.0648",51.4892,0.0648
10,Hackney,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W,"51.545, -0.0553",51.5450,-0.0553
11,Hammersmith and Fulham,51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W,"51.4927, -0.2339",51.4927,-0.2339
12,Haringey,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W,"51.6, -0.1119",51.6000,-0.1119
13,Harrow,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W,"51.5898, -0.3346",51.5898,-0.3346
14,Havering,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E,"51.5812, 0.1837",51.5812,0.1837
15,Hillingdon,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W,"51.5441, -0.476",51.5441,-0.4760
16,Hounslow,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W,"51.4746, -0.368",51.4746,-0.3680
17,Islington,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W,"51.5416, -0.1022",51.5416,-0.1022
18,Kensington and Chelsea,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W,"51.502, -0.1947",51.5020,-0.1947
19,Kingston upon Thames,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W,"51.4085, -0.3064",51.4085,-0.3064
20,Lambeth,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W,"51.4607, -0.1163",51.4607,-0.1163
21,Lewisham,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W,"51.4452, -0.0209",51.4452,-0.0209
22,Merton,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W,"51.4014, -0.1958",51.4014,-0.1958
23,Newham,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E,"51.5077, 0.0469",51.5077,0.0469
24,Redbridge,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E,"51.559, 0.0741",51.5590,0.0741
25,Richmond upon Thames,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W,"51.4479, -0.326",51.4479,-0.3260
26,Southwark,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W,"51.5035, -0.0804",51.5035,-0.0804
27,Sutton,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W,"51.3618, -0.1945",51.3618,-0.1945
28,Tower Hamlets,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W,"51.5099, -0.0059",51.5099,-0.0059
29,Waltham Forest,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W,"51.5908, -0.0134",51.5908,-0.0134
30,Wandsworth,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W,"51.4567, -0.191",51.4567,-0.1910
31,Westminster,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W,"51.4973, -0.1372",51.4973,-0.1372
32,City of London,51°30′28″N 0°05′43″W / 51.5077°N 0.0953°W,"51.5077, -0.0953",51.5077,-0.0953

In [3]:
pip install -U googlemaps

Requirement already satisfied: googlemaps in c:\users\asus\anacondatrue\lib\site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\asus\anacondatrue\lib\site-packages (from googlemaps) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anacondatrue\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anacondatrue\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asus\anacondatrue\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anacondatrue\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import googlemaps
import requests
from datetime import datetime

In [5]:
import json
import requests

In [6]:
with open('keys.json') as f:
    keys = json.load(f)
api_key = keys['googleapi']['api_key']

In [7]:
# initialize the Google Maps client
gmaps = googlemaps.Client(key=api_key)

In [12]:
df[df['Converted_Coordinates'] == '51.5607, 0.1557']['Borough'].values[0]

'Barking and Dagenham'

In [16]:
# Function to fetch location details using latitude and longitude

def get_location_details(loc):
    locations = []
    
    places = gmaps.places_nearby(
    location=loc,
    radius=5000,  # Search radius in meters (adjust as needed)
    type="cafe")
        
    for place in places['results']:
        location_data = {
            'Name': place['name'],
            'Geometry': place['geometry'],
            'Borough': df[df['Converted_Coordinates'] == loc]['Borough'].values[0],
            'Types': place['types'],
            'Rating': place.get('rating'),
            'User Ratings Total': place.get('user_ratings_total'),
            'Vicinity': place.get('vicinity'),
        }
        locations.append(location_data)
    
    return pd.DataFrame(locations)

In [17]:
df_list = []

for coord in df['Converted_Coordinates']:
    other = get_location_details(coord)
    df_list.append(other)

In [18]:
new_df = pd.concat(df_list, ignore_index=True)
new_df

,Name,Geometry,Borough,Types,Rating,User Ratings Total,Vicinity
0,Take a Break,"{'location': {'lat': 51.55102600000001, 'lng':...",Barking and Dagenham,"[cafe, food, point_of_interest, establishment]",4.0,40.0,"244 Oxlow Lane, Dagenham"
1,Asda Dagenham Superstore,"{'location': {'lat': 51.5301912, 'lng': 0.1422...",Barking and Dagenham,"[supermarket, atm, grocery_or_supermarket, caf...",3.6,818.0,"Merrielands Crescent, Dagenham"
2,Becontree Heath Leisure Centre,"{'location': {'lat': 51.5609465, 'lng': 0.1488...",Barking and Dagenham,"[gym, cafe, school, health, food, point_of_int...",3.6,824.0,"Althorne Way, Dagenham"
3,Harrow Lodge Leisure Centre,"{'location': {'lat': 51.5632907, 'lng': 0.2089...",Barking and Dagenham,"[gym, cafe, school, health, food, point_of_int...",3.8,391.0,"Hornchurch Road, Hornchurch"
4,Eastbrook Cafe & Restuarant,"{'location': {'lat': 51.5508213, 'lng': 0.1614...",Barking and Dagenham,"[restaurant, meal_takeaway, meal_delivery, caf...",4.3,91.0,"264 Rainham Road South, Dagenham"
...,...,...,...,...,...,...,...
655,The British Library,"{'location': {'lat': 51.52997169999999, 'lng':...",City of London,"[library, tourist_attraction, cafe, store, res...",4.5,2627.0,"96 Euston Road, London"
656,The Table Café,"{'location': {'lat': 51.5054844, 'lng': -0.099...",City of London,"[cafe, restaurant, food, point_of_interest, es...",4.3,1979.0,"83 Southwark Street, London"
657,Curzon Soho,"{'location': {'lat': 51.5127004, 'lng': -0.130...",City of London,"[movie_theater, cafe, bar, restaurant, food, p...",4.5,1583.0,"99 Shaftesbury Avenue, London"
658,ODEON Surrey Quays,"{'location': {'lat': 51.4959322, 'lng': -0.044...",City of London,"[movie_theater, cafe, store, food, point_of_in...",3.9,2955.0,"Surrey Quays Leisure Park, Redriff Road, London"
659,Swan London,"{'location': {'lat': 51.5082418, 'lng': -0.096...",City of London,"[restaurant, cafe, bar, food, point_of_interes...",4.3,3032.0,"21 New Globe Walk, Bankside, London"

## data cleaning

In [19]:
new_df[['lat', 'lng']] = new_df['Geometry'].apply(lambda x: pd.Series({'lat': x['location']['lat'], 'lng': x['location']['lng']}))
new_df = new_df.drop_duplicates(subset=['lat', 'lng'], keep='first') #drop entries with the same geometry
new_df = new_df.drop(['Geometry'], axis=1)

#list of cafes near the boroughs
new_df

,Name,Borough,Types,Rating,User Ratings Total,Vicinity,lat,lng
0,Take a Break,Barking and Dagenham,"[cafe, food, point_of_interest, establishment]",4.0,40.0,"244 Oxlow Lane, Dagenham",51.551026,0.154796
1,Asda Dagenham Superstore,Barking and Dagenham,"[supermarket, atm, grocery_or_supermarket, caf...",3.6,818.0,"Merrielands Crescent, Dagenham",51.530191,0.142217
2,Becontree Heath Leisure Centre,Barking and Dagenham,"[gym, cafe, school, health, food, point_of_int...",3.6,824.0,"Althorne Way, Dagenham",51.560947,0.148899
3,Harrow Lodge Leisure Centre,Barking and Dagenham,"[gym, cafe, school, health, food, point_of_int...",3.8,391.0,"Hornchurch Road, Hornchurch",51.563291,0.208940
4,Eastbrook Cafe & Restuarant,Barking and Dagenham,"[restaurant, meal_takeaway, meal_delivery, caf...",4.3,91.0,"264 Rainham Road South, Dagenham",51.550821,0.161418
...,...,...,...,...,...,...,...,...
610,Jack's at the Junction,Wandsworth,"[cafe, store, restaurant, food, point_of_inter...",4.3,936.0,"252 Lavender Hill, London",51.464008,-0.166480
612,Pottery Cafe,Wandsworth,"[cafe, store, food, point_of_interest, establi...",4.6,179.0,"735 Fulham Road, London",51.476860,-0.202447
613,GAIL's Bakery Northcote Road,Wandsworth,"[bakery, meal_delivery, cafe, store, restauran...",3.8,450.0,"64 Northcote Road, London",51.458499,-0.166277
614,The Kensington Creperie,Wandsworth,"[cafe, store, restaurant, food, point_of_inter...",3.7,1667.0,"2-4 Exhibition Road, London",51.494773,-0.173204
619,GAZETTE BATTERSEA,Wandsworth,"[cafe, bar, restaurant, food, point_of_interes...",4.3,590.0,"Unit 79, Sherwood Court, Chatfield Road, London",51.465811,-0.182253

In [20]:
new_df.to_csv('cafe.csv', index=False)  # Set index=False to exclude the DataFrame index in the CSV file