In [2]:
import pandas as pd

In [3]:
main_cafe = pd.read_csv('cafe.csv')

In [5]:
main_cafe.head()

,Name,Types,Rating,User Ratings Total,Vicinity,lat,lng
0,Take a Break,"['cafe', 'food', 'point_of_interest', 'establi...",3.9,39.0,"244 Oxlow Lane, Dagenham",51.551026,0.154796
1,Asda Dagenham Superstore,"['supermarket', 'gas_station', 'atm', 'cafe', ...",3.6,817.0,"Merrielands Crescent, Dagenham",51.529501,0.139635
2,Becontree Heath Leisure Centre,"['gym', 'cafe', 'school', 'health', 'food', 'p...",3.6,823.0,"Althorne Way, Dagenham",51.560947,0.148899
3,Harrow Lodge Leisure Centre,"['cafe', 'gym', 'school', 'general_contractor'...",3.8,391.0,"Hornchurch Road, Hornchurch",51.563291,0.208940
4,Eastbrook Cafe & Restuarant,"['restaurant', 'meal_delivery', 'meal_takeaway...",4.3,91.0,"264 Rainham Road South, Dagenham",51.550821,0.161418